.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: #fff;

  label:first-child > * {
    display: block;
  }

  > * {
    margin-bottom: 12px;
  }

  label input:hover {
    cursor: pointer;
  }

  label > * {
    display: block;
  }

  label {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}
